cloud_id                 = "b1gi8rea67r233k0htdp"
folder_id                = "b1gi8rea67r233k0htdp"
zone                     = "ru-central1-a"
image_id                 = "fd8cmoapd8bun0tia2ug"
public_key_path          = "~/.ssh/otus.pub"
subnet_id                = "e9bliv6sqtuf7647rnrv"
service_account_key_file = "/home/c3nt/.config/yandex-cloud/key.json"
