{
    "folder_id": "b1gi8rea67r233k0ht22",
    "subnet_id": "e9bliv6sqtuf7647rn22",
    "zone": "ru-central1-a",
    "source_image_family": "ubuntu-1604-lts",
    "disk_size_gb": "10",
    "SSH_USERNAME": "otus"
}
